# Logs
logs
*.log

# Python
.env
.flaskenv
venv
__pycache__

# Personal
auth
frontend/src/app
app/uploads

# DB
*.db
*.sql*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

celerybeat-schedule.*
migrations
